[defaults]
interpreter_python=python
ansible_managed = Warning: File is managed by ansible
nocows = 1
roles_path = roles_galaxy:roles
collections_path = collections_galaxy
host_key_checking = true
remote_user = ansible
forks = 16
timeout = 60

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = true
